node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# hardhat-ignite deployment files
/ignition/deployments
.vscode/slither-results.json
.vscode/settings.json
